
$bg-color: #F7F7F7;

// header stuff
$header-background-url: '../img/backgrounds/header-background.png';
$header-bottom-border-color: #9a63f5;
$h1-color: #F7F7F7;

// task list stuff
$selected-task-background-color: #FF0000;
$progress-bar-height: 8px;
$task-border-color: #CCC;

html,
body {
	margin: 0;
	padding: 0;
	background-color: $bg-color;
}

body {
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	color: #333333;
	-webkit-font-smoothing: antialiased;
}

#header {
	width: 100%;
	height: 70px;
	background-image: url($header-background-url);
	background-size: 70px 70px;
	position: relative;
	z-index: 3;
	border-bottom: 12px solid $header-bottom-border-color;

	h1 {
		font-size: 35px;
		// font-weight: bold;
		text-align: center;
		margin: 0;
		padding-top: 25px;
		// padding-left: 30px;
		color: $h1-color;
	}
}

#tenKhoursapp {
	background: $bg-color;
	padding: 20px;
	margin-bottom: 40px;
	width: 520px;
	margin: 0 auto;

	input[type='text'] {
		width: 502px;
		border: 0;
		font-size: 23px;
		border: 1px solid #999;
		padding: 8px;
	}
}

#task-list {
	list-style: none;
	margin: 30px 0;
	padding: 0;

	li {
		padding : 18px 20px 18px 0;
		font-size: 24px;
		background-color: #FFF;
		margin-top: 3px;
		border: 1px solid $task-border-color;
		color: #666;
		-moz-border-radius: 15px;
		border-radius: 15px;

		#task-title {
			margin-left: 15px;
			/*color: #666;*/
		}

		#task-display-time {
			float: right;
			font-size: 27px;
			margin-top: -20px;
		}

		#task-total-time {
			display: none;
		}

		.ui-progress-bar {
			height: $progress-bar-height + 2px; 
			width: 30%;
			margin-left: 15px;
			margin-top: 10px;
		}

		.ui-progress {
			width: 40%;
			height: $progress-bar-height;
		}
	}
}

.task-holder-state-highlight {
	background-color: #FF0000;
	border: 1px solid #EEE;
}

.edit {
	display: none;
}
