/*
Syntax error: Invalid CSS after "...ar-height: 8px;": expected selector or at-rule, was "<<<<<<< HEAD"
        on line 12 of style.scss

7: $h1-color: #F7F7F7;
8: 
9: // task list stuff
10: $selected-task-background-color: #FF0000;
11: $progress-bar-height: 8px;
12: <<<<<<< HEAD
13: $task-border-color: #CCC;
14: =======
15: $task-border-color: #CCC; 
16: >>>>>>> master
17: 

Backtrace:
style.scss:12
/Users/cuzzo/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.3/lib/sass/scss/parser.rb:1134:in `expected'
/Users/cuzzo/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.3/lib/sass/scss/parser.rb:1070:in `expected'
/Users/cuzzo/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.3/lib/sass/scss/parser.rb:28:in `parse'
/Users/cuzzo/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.3/lib/sass/engine.rb:342:in `_to_tree'
/Users/cuzzo/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.3/lib/sass/engine.rb:315:in `_render'
/Users/cuzzo/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.3/lib/sass/engine.rb:262:in `render'
/Users/cuzzo/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.3/lib/sass/plugin/compiler.rb:341:in `update_stylesheet'
/Users/cuzzo/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.3/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/cuzzo/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.3/lib/sass/plugin/compiler.rb:201:in `each'
/Users/cuzzo/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.3/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/cuzzo/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.3/lib/sass/plugin/compiler.rb:299:in `block in watch'
/Users/cuzzo/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.3/vendor/listen/lib/listen/multi_listener.rb:86:in `call'
/Users/cuzzo/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.3/vendor/listen/lib/listen/multi_listener.rb:86:in `on_change'
/Users/cuzzo/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.3/vendor/listen/lib/listen/multi_listener.rb:95:in `block in initialize_adapter'
/Users/cuzzo/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.3/vendor/listen/lib/listen/adapters/polling.rb:55:in `call'
/Users/cuzzo/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.3/vendor/listen/lib/listen/adapters/polling.rb:55:in `poll'
/Users/cuzzo/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.3/vendor/listen/lib/listen/adapters/polling.rb:31:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...ar-height: 8px;\": expected selector or at-rule, was \"<<<<<<< HEAD\"\A         on line 12 of style.scss\A \A 7: $h1-color: #F7F7F7;\A 8: \A 9: // task list stuff\A 10: $selected-task-background-color: #FF0000;\A 11: $progress-bar-height: 8px;\A 12: <<<<<<< HEAD\A 13: $task-border-color: #CCC;\A 14: =======\A 15: $task-border-color: #CCC; \A 16: >>>>>>> master\A 17: "; }
