/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\0000326}}
html,
button,
input,
select,
textarea {
  color: #222;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\0000330}}
body {
  font-size: 1em;
  line-height: 1.4;
  overflow-x: hidden;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\0000337}}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\0000342}}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\0000347}}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\0000356}}
img {
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\0000360}}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\0000366}}
textarea {
  resize: vertical;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\0000370}}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\0000382}}
body {
  font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\0000386}}
.wrapper {
  width: 100%;
  margin: 0 -7% 0;
}

/* ===================
    Theme
   =================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\0000395}}
.header-container {
  /*border-bottom: 20px solid #e44d26;*/
  /*border-bottom: 12px solid $header-bottom-border-color;
  background-image: url($header-background-url);
  background-size: 70px 70px;*/
  background: #666;
  border-bottom: 5px solid #419cc3;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003104}}
.header-container a {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003109}}
.footer-container,
.main aside {
  border-top: 2px solid #666;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003113}}
.footer-container {
  background: #666;
  overflow-x: hidden;
  width: 100%;
  height: 200px;
  position: absolute;
  z-index: 123;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003123}}
.header-container,
.main aside {
  /*background: #f16529;*/
  overflow-x: hidden;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003129}}
.main-container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003136}}
.footer, .push {
  height: 4em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003140}}
.title {
  color: white;
}

/* ==============
    MOBILE: Menu
   ============== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003148}}
nav ul {
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003153}}
nav a {
  display: block;
  margin-bottom: 10px;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: white;
  background: #e44d26;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003167}}
nav a:hover,
nav a:visited {
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003171}}
nav a:hover {
  text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003179}}
.main {
  padding: 30px 100px;
  overflow-x: hidden;
  margin: 0 auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003185}}
.footer-container footer {
  /*padding: 20px 0;*/
}

/* ===============
    ALL: IE Fixes
   =============== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003193}}
.ie7 .title {
  padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003202}}
html,
body {
  background-color: #f7f7f0;
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003207}}
body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #333333;
  -webkit-font-smoothing: antialiased;
}

/*for icons*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003215}}
i {
  padding-right: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003219}}
.calendar-stopwatch {
  background-image: url(../img/stopwatch-teal.png);
  background-size: 32px 32px;
  background-position: -3px -2px;
  background-repeat: no-repeat;
  color: #4794cb;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003228}}
.alerts .delete-task-alert {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003233}}
#header {
  width: 100%;
  height: 70px;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003242}}
#header .logo {
  /*text-align: center;*/
  /*margin: 0 auto;*/
  margin-left: 40px;
  margin-top: 13px;
  color: #f7f7f7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003250}}
#header a {
  outline: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003255}}
#grey-bkgrnd {
  background: #e7e7e7;
  width: 10px;
  border-top: 1px solid #d6d6d6;
  margin-top: -755px;
  margin-left: -100px;
  /*position: absolute;*/
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003265}}
.edit-task-view-container {
  width: 500px;
  height: auto;
  margin: 0 auto;
  display: none;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003272}}
.edit-task-view-container #edit-task-view {
  width: 95%;
  margin-left: 45px;
  margin-top: 0;
  color: #464646;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003278}}
.edit-task-view-container #edit-task-view input[type='text'] {
  width: 95%;
  font-size: 30px;
  padding: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003284}}
.edit-task-view-container #edit-task-view .section-heading {
  font-size: 45px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 300px;
  margin-top: -10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003292}}
.edit-task-view-container #edit-task-view .form-label {
  padding-top: 10px;
  font-size: 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003297}}
.edit-task-view-container #edit-task-view .checkbox-section {
  background: #f7f7f7;
  padding: 10px;
  width: 120px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003303}}
.edit-task-view-container #edit-task-view .nonspecific {
  width: 130px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003309}}
.task-detail-view-container {
  /*background: red;*/
  height: 700px;
  margin: 0 auto;
  display: none;
  position: relative;
  /*float: right;*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003317}}
.task-detail-view-container #charts-view {
  display: none;
  margin-left: 60px;
  margin-top: -40px;
  position: absolute;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003323}}
.task-detail-view-container #charts-view #chart-label-div {
  z-index: 12;
  /*position: absolute;*/
  width: 542px;
  background: #f7f7f7;
  padding: 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #d6d6d6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003338}}
.task-detail-view-container #charts-view #chart-header {
  margin-top: 0px;
  font-size: 20px;
  text-align: center;
  padding-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003345}}
.task-detail-view-container #charts-view #chart-header #previous-week-arrow {
  padding-right: 10px;
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003350}}
.task-detail-view-container #charts-view #chart-header #previous-week-arrow-btn {
  width: 30px;
  margin-left: -320px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003355}}
.task-detail-view-container #charts-view #chart-header .previous-week-arrow-icon {
  margin-left: -4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003364}}
.task-detail-view-container #charts-view #chart-holder {
  margin-top: -280px;
  margin-left: 10px;
  position: absolute;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003371}}
.task-detail-view-container #charts-view .chart-date-label {
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003374}}
.task-detail-view-container #charts-view .chart-date-label .chart-time-label {
  font-weight: bold;
  color: #419cc3;
  font-size: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003380}}
.task-detail-view-container #charts-view .chart-date-label .chart-full-date-label {
  font-size: 12px;
  font-weight: bold;
  margin-top: -6px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003387}}
.task-detail-view-container #charts-view .chart-date-label span {
  text-align: center;
  width: 50px;
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003393}}
.task-detail-view-container #charts-view .inline-label {
  margin-left: 25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003397}}
.task-detail-view-container #charts-view #chart-date-label-container {
  margin-top: 165px;
  /*margin-left: 30px;*/
  border-top: 1px solid #419cc3;
  padding-top: 10px;
  padding-left: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003405}}
.task-detail-view-container #charts-view #chart-footer {
  margin-top: 10px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003411}}
.task-detail-view-container #task-detail-view {
  /*background: blue;*/
  width: 95%;
  height: 225px;
  margin-left: 88px;
  margin-top: 35px;
  color: #666;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003419}}
.task-detail-view-container #task-detail-view .task-detail-view-header-wrapper {
  margin-left: -20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003423}}
.task-detail-view-container #task-detail-view .task-detail-view-header-wrapper .title-wrapper {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003427}}
.task-detail-view-container #task-detail-view .task-detail-view-header-wrapper .task-detail-view-title {
  font-size: 45px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 300px;
  margin-top: -10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003437}}
.task-detail-view-container #task-detail-view .task-detail-view-header-wrapper .task-actions .task-stats-text {
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003442}}
.task-detail-view-container #task-detail-view .task-detail-view-header-wrapper .task-action-buttons {
  text-align: right;
  margin-left: 367px;
  width: 150px;
  height: 87px;
                /*background: #f7f7f7;

                padding: 12px;
     
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
             
                border: 1px solid #d6d6d6;*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003459}}
.task-detail-view-container #task-detail-view .task-detail-view-header-wrapper .task-action-buttons .default-task-action-button {
  margin-top: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003463}}
.task-detail-view-container #task-detail-view .task-detail-view-header-wrapper .task-action-buttons .header-text {
  position: relative;
  padding-bottom: 5px;
  border-bottom: 1px solid #d6d6d6;
  font-weight: bold;
  font-size: 13px;
  text-align: left;
  padding-top: 5px;
  margin-top: -5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003474}}
.task-detail-view-container #task-detail-view .task-detail-view-header-wrapper .task-action-buttons .total-hours, .task-detail-view-container #task-detail-view .task-detail-view-header-wrapper .task-action-buttons .sessions-recorded, .task-detail-view-container #task-detail-view .task-detail-view-header-wrapper .task-action-buttons .daily-goal {
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003478}}
.task-detail-view-container #task-detail-view .task-detail-view-header-wrapper .task-action-buttons .total-hours-text, .task-detail-view-container #task-detail-view .task-detail-view-header-wrapper .task-action-buttons .sessions-recorded-text, .task-detail-view-container #task-detail-view .task-detail-view-header-wrapper .task-action-buttons .daily-goal-text {
  font-size: 13px;
  font-weight: bold;
  color: #257dbf;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003484}}
.task-detail-view-container #task-detail-view .task-detail-view-header-wrapper .task-action-buttons .stat-text, .task-detail-view-container #task-detail-view .task-detail-view-header-wrapper .task-action-buttons .label-text {
  margin-top: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003488}}
.task-detail-view-container #task-detail-view .task-detail-view-header-wrapper .task-action-buttons .stat-text {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003492}}
.task-detail-view-container #task-detail-view .task-detail-view-header-wrapper .task-action-buttons .label-text {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003498}}
.task-detail-view-container #task-detail-view .detail-btn-bar-calendar {
  margin-top: 30px;
  padding-bottom: 40px;
  /* ==========================================================================
     Date Picker stuff custom styles
     ========================================================================== */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003511}}
.task-detail-view-container #task-detail-view .detail-btn-bar-calendar .ui-datepicker,
.task-detail-view-container #task-detail-view .detail-btn-bar-calendar .ui-datepicker table,
.task-detail-view-container #task-detail-view .detail-btn-bar-calendar .ui-datepicker tr,
.task-detail-view-container #task-detail-view .detail-btn-bar-calendar .ui-datepicker td,
.task-detail-view-container #task-detail-view .detail-btn-bar-calendar .ui-datepicker th {
  margin: 0;
  padding: 0;
  border: none;
  border-spacing: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003518}}
.task-detail-view-container #task-detail-view .detail-btn-bar-calendar .ui-datepicker {
  display: none;
  width: 500px;
  padding: 20px;
  cursor: default;
  text-transform: uppercase;
  font-family: Tahoma;
  font-size: 18px;
  background: #f7f7f7;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #d6d6d6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003537}}
.task-detail-view-container #task-detail-view .detail-btn-bar-calendar .ui-datepicker-header {
  position: relative;
  padding-bottom: 10px;
  border-bottom: 1px solid #d6d6d6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003543}}
.task-detail-view-container #task-detail-view .detail-btn-bar-calendar .ui-datepicker-title {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003545}}
.task-detail-view-container #task-detail-view .detail-btn-bar-calendar .ui-datepicker-month {
  position: relative;
  padding-right: 15px;
  color: #565656;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003551}}
.task-detail-view-container #task-detail-view .detail-btn-bar-calendar .ui-datepicker-year {
  padding-left: 8px;
  color: #a8a8a8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003557}}
.task-detail-view-container #task-detail-view .detail-btn-bar-calendar .ui-datepicker-prev,
.task-detail-view-container #task-detail-view .detail-btn-bar-calendar .ui-datepicker-next {
  position: absolute;
  top: -2px;
  padding: 5px;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003564}}
.task-detail-view-container #task-detail-view .detail-btn-bar-calendar .ui-datepicker-prev {
  left: 0;
  padding-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003569}}
.task-detail-view-container #task-detail-view .detail-btn-bar-calendar .ui-datepicker-next {
  right: 0;
  padding-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003575}}
.task-detail-view-container #task-detail-view .detail-btn-bar-calendar .ui-datepicker-prev span,
.task-detail-view-container #task-detail-view .detail-btn-bar-calendar .ui-datepicker-next span {
  display: block;
  width: 5px;
  height: 10px;
  text-indent: -9999px;
  background-image: url(../img/arrows.png);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003584}}
.task-detail-view-container #task-detail-view .detail-btn-bar-calendar .ui-datepicker-prev span {
  background-position: 0px 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003586}}
.task-detail-view-container #task-detail-view .detail-btn-bar-calendar .ui-datepicker-next span {
  background-position: -5px 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003588}}
.task-detail-view-container #task-detail-view .detail-btn-bar-calendar .ui-datepicker-prev-hover span {
  background-position: 0px -10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003590}}
.task-detail-view-container #task-detail-view .detail-btn-bar-calendar .ui-datepicker-next-hover span {
  background-position: -5px -10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003592}}
.task-detail-view-container #task-detail-view .detail-btn-bar-calendar .ui-datepicker-calendar th {
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
  font-weight: normal;
  color: #a8a8a8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003601}}
.task-detail-view-container #task-detail-view .detail-btn-bar-calendar .ui-datepicker-calendar td {
  padding: 0 22px;
  text-align: center;
  line-height: 32px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003608}}
.task-detail-view-container #task-detail-view .detail-btn-bar-calendar .ui-datepicker-calendar .ui-state-default {
  display: block;
  width: 26px;
  outline: none;
  text-decoration: none;
  color: #565656;
  border: 1px solid transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003619}}
.task-detail-view-container #task-detail-view .detail-btn-bar-calendar .ui-datepicker-calendar .ui-state-active {
  color: #9a63f5;
  border: 1px solid #9a63f5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003624}}
.task-detail-view-container #task-detail-view .detail-btn-bar-calendar .ui-datepicker-other-month .ui-state-default {
  color: #a8a8a8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003627}}
.task-detail-view-container #task-detail-view .detail-btn-bar-calendar #calendar {
  margin-top: 20px;
  margin-left: -20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003632}}
.task-detail-view-container #task-detail-view .detail-btn-bar-calendar #task-detail-btn-bar {
  margin-left: 120px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003635}}
.task-detail-view-container #task-detail-view .detail-btn-bar-calendar #task-detail-btn-bar .btn {
  color: #464646;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003643}}
#tasks-list-view {
  background: #f7f7f0;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003647}}
#tasks-list-view input[type='text'] {
  width: 300px;
  border: 0;
  font-size: 17px;
  border: 1px solid #CCC;
  padding: 8px;
  /*margin-left: -270px;*/
  /*display: none;*/
  margin-top: -10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003658}}
#tasks-list-view #task-list {
  list-style: none;
  margin-top: 30px;
  /*margin-left: -270px;*/
  padding: 0;
  width: 370px;
  /*border-right:1px solid #CCC;*/
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003667}}
#tasks-list-view #task-list li {
  padding: 10px 20px 10px 0;
  font-size: 18px;
  background-color: #FFF;
  margin-top: 3px;
  border: 1px solid #CCC;
  color: #666;
  cursor: hand;
  cursor: pointer;
  width: 300px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003678}}
#tasks-list-view #task-list li #task-title {
  margin-left: 15px;
  /*color: #999;*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003683}}
#tasks-list-view #task-list li .task-list-time-icon {
  margin-top: 3.5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003687}}
#tasks-list-view #task-list li #task-total-time {
  float: right;
  font-size: 17px;
  margin-top: -20px;
  margin-right: -5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003694}}
#tasks-list-view #task-list li .ui-progress-bar {
  height: 10px;
  width: 30%;
  margin-left: 15px;
  margin-top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003701}}
#tasks-list-view #task-list li .ui-progress {
  width: 80%;
  height: 8px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003711}}
.task-holder-state-highlight {
  background-color: #FF0000;
  border: 1px solid #EEE;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003716}}
.edit {
  display: none;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 480px) {
  /* ====================
      INTERMEDIATE: Menu
     ==================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003730}}
  nav a {
    float: left;
    width: 27%;
    margin: 0 1.7%;
    padding: 25px 2%;
    margin-bottom: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003738}}
  nav li:first-child a {
    margin-left: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003742}}
  nav li:last-child a {
    margin-right: 0;
  }

  /* ========================
      INTERMEDIATE: IE Fixes
     ======================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003750}}
  nav ul li {
    display: inline;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003754}}
  .oldie nav a {
    margin: 0 0.7%;
  }
}
@media only screen and (min-width: 768px) {
  /* ====================
      WIDE: CSS3 Effects
     ==================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003766}}
  .header-container,
  .main aside {
    -webkit-box-shadow: 0 5px 10px #ddd;
    -moz-box-shadow: 0 5px 10px #ddd;
    box-shadow: 0 5px 10px #ddd;
  }

  /* ============
      WIDE: Menu
     ============ */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003776}}
  .title {
    float: left;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003780}}
  nav {
    float: right;
    width: 38%;
  }

  /* ============
      WIDE: Main
     ============ */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003789}}
  .main article {
    float: left;
    width: 57%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003794}}
  #tasks-list-view {
    width: 516px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003797}}
  #tasks-list-view input[type="text"] {
    /*width: 502px;*/
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003802}}
  .task-detail-view-container {
    width: 520px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003806}}
  .main aside {
    float: right;
    width: 28%;
  }
}
@media only screen and (min-width: 1140px) {
  /* ===============
      Maximal Width
     =============== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003818}}
  .wrapper {
    /*width: 1026px;  1140px - 10% for margins */
    width: 100%;
    margin: 0 auto;
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003829}}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003836}}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003843}}
.hidden {
  display: none !important;
  visibility: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003848}}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003860}}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003869}}
.invisible {
  visibility: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003874}}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003879}}
.clearfix:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003883}}
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003892}}
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003900}}
  a,
  a:visited {
    text-decoration: underline;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003904}}
  a[href]:after {
    content: " (" attr(href) ")";
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003908}}
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003918}}
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003923}}
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003928}}
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003933}}
  tr,
  img {
    page-break-inside: avoid;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003937}}
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003947}}
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cuzzo\/projects\/10khours\/src\/app\/scss\/main\.scss}line{font-family:\00003953}}
  h2,
  h3 {
    page-break-after: avoid;
  }
}
