$bg-color: #F7F7F0;
$task-font-grey: #464646;
$site-purple: #9a63f5;
$site-dark-purple: #321a5d;
$site-dark-blue: #257dbf;

// header stuff
$header-background-url: '../img/backgrounds/header-background.png';
$header-bottom-border-color: $site-purple;
$h1-color: #F7F7F7;

// task list stuff
$selected-task-background-color: #FF0000;
$progress-bar-height: 8px;
$task-border-color: #CCC; 

/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    overflow-x: hidden;
    width: 100%;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 100%;
    margin: 0 -7% 0;
}

/* ===================
    Theme
   =================== */

.header-container {
    /*border-bottom: 20px solid #e44d26;*/
    border-bottom: 12px solid $header-bottom-border-color;
    background-image: url($header-background-url);
    background-size: 70px 70px;
}

.header-container a{
    text-decoration: none;
}

.footer-container,
.main aside {
    border-top: 2px solid #666;
}

.footer-container {
    background: #666;
    overflow-x: hidden;
    width: 100%;
    height: 200px;
    position: absolute;
    z-index: 123;
}

.header-container,
.main aside {
    /*background: #f16529;*/
    overflow-x: hidden;
    width: 100%;
}

.main-container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}

.footer, .push {
    height: 4em;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 100px;
    overflow-x: hidden;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    /*padding: 20px 0;*/
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html,
body {
    background-color: $bg-color;
    height: 100%;
}

body {
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    color: #333333;
    -webkit-font-smoothing: antialiased;
}

/*for icons*/
i {
    padding-right: 5px;
}

.calendar-stopwatch {
    background-image: url(../img/stopwatch-teal.png);
    background-size: 32px 32px;
    background-position: -3px -2px;
    background-repeat: no-repeat;
    color: #4794cb;
}

.alerts {
    .delete-task-alert {
        display: none;
    }
}

#header {
    width: 100%;
    height: 70px;
    
    overflow-x: hidden;

    .logo {
        text-align: center;
        margin: 0 auto;
        margin-top: 10px;
        color: $h1-color;
    }

    a {
        outline: 0;
    }
}

#grey-bkgrnd {
    background: #e7e7e7;
    width: 10px;
    border-top: 1px solid #d6d6d6;
    margin-top: 165px;
    position: absolute;
    display: none;
}

#tasks-list-view {
    background: $bg-color;
    margin-bottom: 40px;
    width: 90%;
    margin: 0 auto;

    input[type='text'] {
        width: 95%;
        border: 0;
        font-size: 24px;
        border: 1px solid #999;
        padding: 8px;
        margin-left: -70px;
    }
}

.edit-task-view-container {
   width: 500px;
   height: auto;
   margin: 0 auto;
   display: none;
   position: relative;

   #edit-task-view {
        width: 95%;
        margin-left: 45px;
        margin-top: 0;
        color: $task-font-grey;

        input[type='text'] {
            width: 95%;
            font-size: 30px;
            padding: 10px;
        }

        .section-heading {
            font-size: 45px;
            padding-top: 20px;
            padding-bottom: 20px;
            width: 300px;
            margin-top: -10px;
        }

        .form-label {
            padding-top: 10px;
            font-size: 18px;
        }

        .checkbox-section {
            background: #f7f7f7;
            padding: 10px;
            width: 120px;
        }

        .nonspecific{
            width: 130px;
        }
   }
}

.task-detail-view-container {
   /*background: red;*/
   height: 700px;
   margin: 0 auto;
   display: none;
   position: relative;
   z-index:10;


    #charts-view {
        display: none; 
        margin-left: -110px;
        position: absolute;

        #chart-label-div {
            z-index: 12;
            position: absolute;
            width: 542px;
        }

        #chart-header {
            margin-top: 20px;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
        }

        #chart-holder {
            margin-top: 65px;
            margin-left: 10px;
            position: absolute;
        }

        .chart-date-label {
            display: inline;
        }

        .chart-date-label span{
            text-align: center;
            width: 50px;
            display: inline-block;
        }

        .inline-label {
            margin-left: 25px;
        }

        #chart-date-label-container {
            margin-top: 285px;
            margin-left: 30px;
        }

        #chart-footer {
            margin-top: 10px;
            text-align: center;
        }
    }

   #task-detail-view {
        /*background: blue;*/
        width: 95%;
        height: 225px;
        margin-left: -80px;
        margin-top: 0;
        color: $task-font-grey;

        .task-detail-view-header-wrapper {

            margin-left: -20px;

            .title-wrapper {
                float: left;
            }

            .task-detail-view-title {
                font-size: 45px;
                padding-top: 20px;
                padding-bottom: 20px;
                width: 300px;
                margin-top: -10px;
            }

            .task-actions {

                .delete-task, .add-time, .modify-task {
                    display: block;
                    /*font-size: 14px;*/
                    padding: 0;
                    text-align: left;

                    a {
                        text-decoration: none;
                        color: $site-dark-purple;
                    }
                }
            }

            .task-detail-stats {

                text-align: right;
                margin-left: 367px;
                width: 150px;
                height: 87px;

                background: #f7f7f7;

                padding: 12px;
     
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
             
                border: 1px solid #d6d6d6;

                .header-text {
                    position: relative;
                    padding-bottom: 5px;
                    border-bottom: 1px solid #d6d6d6;
                    font-weight: bold;
                    font-size: 13px;
                    text-align: left;
                    padding-top: 5px;
                    margin-top: -5px;
                }

                .total-hours, .sessions-recorded, .daily-goal {
                    text-align: left;
                }

                .total-hours-text, .sessions-recorded-text, .daily-goal-text {
                    font-size: 13px;
                    font-weight: bold;
                    color: $site-dark-blue;
                }

                .stat-text, .label-text {
                    margin-top: 5px;
                }

                .stat-text{
                    float:left;
                }

                .label-text{
                    float:right;
                }
            }
        }

        .detail-btn-bar-calendar {

            margin-top: 50px;
            padding-bottom: 40px;

            /* ==========================================================================
               Date Picker stuff custom styles
               ========================================================================== */

            .ui-datepicker,
            .ui-datepicker table,
            .ui-datepicker tr,
            .ui-datepicker td,
            .ui-datepicker th {
                margin: 0;
                padding: 0;
                border: none;
                border-spacing: 0;
            }

            .ui-datepicker {
                display: none;
                width: 500px;
                padding: 20px;
                cursor: default;
             
                text-transform: uppercase;
                font-family: Tahoma;
                font-size: 18px;
             
                background: #f7f7f7;
             
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
             
                border: 1px solid #d6d6d6;
            }

            .ui-datepicker-header {
                position: relative;
                padding-bottom: 10px;
                border-bottom: 1px solid #d6d6d6;
            }
             
            .ui-datepicker-title { text-align: center; }
             
            .ui-datepicker-month {
                position: relative;
                padding-right: 15px;
                color: #565656;
            }
             
            .ui-datepicker-year {
                padding-left: 8px;
                color: #a8a8a8;
            }

            .ui-datepicker-prev,
            .ui-datepicker-next {
                position: absolute;
                top: -2px;
                padding: 5px;
                cursor: pointer;
            }
             
            .ui-datepicker-prev {
                left: 0;
                padding-left: 0;
            }
             
            .ui-datepicker-next {
                right: 0;
                padding-right: 0;
            }
             
            .ui-datepicker-prev span,
            .ui-datepicker-next span{
                display: block;
                width: 5px;
                height: 10px;
                text-indent: -9999px;
             
                background-image: url(../img/arrows.png);
            }
             
            .ui-datepicker-prev span { background-position: 0px 0px; }
             
            .ui-datepicker-next span { background-position: -5px 0px; }
             
            .ui-datepicker-prev-hover span { background-position: 0px -10px; }
             
            .ui-datepicker-next-hover span { background-position: -5px -10px; }

            .ui-datepicker-calendar th {
                padding-top: 15px;
                padding-bottom: 10px;
             
                text-align: center;
                font-weight: normal;
                color: #a8a8a8;
            }

            .ui-datepicker-calendar td {
                padding: 0 22px;
             
                text-align: center;
                line-height: 32px;
            }
             
            .ui-datepicker-calendar .ui-state-default {
                display: block;
                width: 26px;
                outline: none;
             
                text-decoration: none;
                color: #565656;
             
                border: 1px solid transparent;
            }

            .ui-datepicker-calendar .ui-state-active {
                color: $header-bottom-border-color;
                border: 1px solid $header-bottom-border-color;
            }
             
            .ui-datepicker-other-month .ui-state-default { color: #a8a8a8; }


            #calendar {
                margin-top: 20px;
                margin-left: -20px;
            }

            #task-detail-btn-bar {
                margin-left: 120px;

                .btn {
                    color: $task-font-grey;
                }
            }
        }
   }
}

#task-list {
    list-style: none;
    margin: 16px 0;
    margin-left: -70px;
    padding: 0;
    width: 101%;

    li {
        padding : 18px 20px 18px 0;
        font-size: 24px;
        background-color: #FFF;
        margin-top: 3px;
        border: 1px solid $task-border-color;
        color: $task-font-grey;
        -moz-border-radius: 15px;
        border-radius: 15px;
        cursor: hand;
        cursor: pointer;

        #task-title {
            margin-left: 15px;
            /*color: #666;*/
        }

        #task-display-time {
            float: right;
            font-size: 27px;
            margin-top: -20px;
            display: none;
        }

        #task-total-time {
            display: none;
        }

        .ui-progress-bar {
            height: $progress-bar-height + 2px; 
            width: 30%;
            margin-left: 15px;
            margin-top: 10px;
        }

        .ui-progress {
            width: 80%;
            height: $progress-bar-height;
        }
    }
}

.task-holder-state-highlight {
    background-color: #FF0000;
    border: 1px solid #EEE;
}

.edit {
    display: none;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    #tasks-list-view {
        width: 516px;

        input[type="text"] {
            width: 502px;
        }
    }

    .task-detail-view-container {
        width: 520px;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        /*width: 1026px;  1140px - 10% for margins */
        width: 100%;
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}